:root {
  --main-text-color: #2E2F42;
  --scnd-text-color: #F4F4FD;
  --contacts-link-color: #434455;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--contacts-link-color);
  background: #FFFFFF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0, 15px, 0, 15px;
  display: flex;

}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  display: block;
  margin-right: 76px;
}

.header-logo span {
  color: #2E2F42;
}

.menu {
  display: flex;
  gap: 40px;

}

.header-menu-item {
  margin-right: 40px;
}

.header-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404BBF;
}

.contacts {
  font-style: normal;
}

.menu-adrs {
  display: flex;
}

.contacts-item-tw {
  margin-right: 0;

}


.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404BBF;
}

.smm-ttl {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.main {
  background-color: #2E2F42;
}

.main-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background: #404BBF;
}

.prtfl-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #F4F4FD;
  color: #4D5AE5;
  cursor: pointer;
}

.prtfl-btn:hover,
.prtfl-btn:focus {
  background: #404BBF;
  color: #FFFFFF;
}



.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
}

.team-list-item {
  background-color: #FFFFFF;
}

.text-pf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
}

.scnd-ttl {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}

.thrd-ttl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.ttltw {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.back {
  background: #2E2F42;
}

.back-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
}

.back-logo span {
  color: #F4F4FD
}

.back-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--scnd-text-color);
}

.team {
  background: #F4F4FD;
}

.portfolio-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}